# YOUR DISCORD BOT TOKEN
DISCORD_BOT_TOKEN=

# YOUR DISCORD BOT'S CLIENT ID
CLIENT_ID=

# YOUR SHAPE. YOU CAN GET IT FROM THE URL AND JUST GETTING THE NAME PART (e.g https://talk.shapes.inc/littleglitchy)
SHAPE=

# CUSTOM STATUS DISPLAYED ON THE SHAPE.
CUSTOM_STATUS=

# SET true IF YOU WANT MOBILE (NOTE THAT CUSTOM ONLINE STATUSES WILL NOT APPEAR AND IT WILL BE ONLINE.)
MOBILE=

# 1 IS DND, 2 IS IDLE, AND 3 IS INVISIBLE. ANYTHING ELSE IS ONLINE.
ONLINE_STATUS=0